.quote-generator {
  display: flex;
  flex-direction: column;
}

/*QUOTE CARD BUILD*/

.background-rectangle {
  width: 500px;
  height: 200px;
}

.quote-card-build {
  position: relative;
}

.selected-quote{
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
}

.selected-quote-author {
  text-align: right;
  font-style: italic;
  position: absolute;
  bottom: 20%;
  right: 10%;
}


/*DOWNLOAD BUTTON*/
.download-button {
  background: black;
  width: 150px;
  color: white;
  padding: 12px 14px;
  border: none;
  margin: 30px 0 25px 0;
  align-self: flex-end;
  font-family: inherit;
  font-weight: lighter;
}

.download-button:hover {
  background: #686868;
}


/*STYLING OPTIONS*/

/*Color*/

.color-options,
.font-options {
  display: flex;
  margin-bottom: 28px;
}

.choose-color>p,
.choose-font>p {
  font-weight: lighter;
}

.color-dot {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.color-dot.green {
  background: #69CCAE;
}

.color-dot.pink {
  background: #EB8BB4;
}

.color-dot.yellow {
  background: #F3C958;
}

.color-dot.coral {
  background: #F68874;
}

.color-dot.grey {
  background: #BAD4D4;
}


/*Font*/

.font {
  border: 1px solid black;
  margin: 0 12px 0 0;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.cookie {
  font-family: 'Cookie', cursive;
  font-size: 24px;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

