@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.feather {
  margin-bottom: 20px;
  height: 30px;
  width: auto;
}

.say,
.quote-bar {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.say {
  font-weight: bold;
  font-size: 48px;
}

.quote-bar {
  font-weight: lighter;
  font-size: 16px;
}
