.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.feather {
  margin-bottom: 12px;
  height: 30px;
  width: auto;
}

.say {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.quote-bar {
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
}
