.quote-card {
  width: 350px;
  border: 1px solid black;
  padding: 3px 19px;
  margin: 0 16px 20px 0;
  cursor: pointer;
}

.selected {
  border: 4px solid black;
  padding: 0 16px;
}

.author {
  text-align: right;
  font-style: italic;
}
